Django==2.2.13
psycopg2-binary
requests
typing
numpy
fbchat
git+https://github.com/thiagosm/cep.git
lxml
python-magic
django-import-export
djangorestframework
django-admin-rangefilter
xmltodict
XlsxWriter
xlwt
xlrd
qrcode
gunicorn
html5lib==1.0b10
firebase-admin
google-cloud-firestore
vobject
Pillow==6.2.0
cython
channels
channels_redis
redis
iptools
